/* Fonts Import */

@import url('https://fonts.googleapis.com/css?family=Italianno|Lato:400,700,900|Raleway:400,700');
/* Common Styles */

body {
    background-color: #fafafa;
}

h2 {
    font-size: 2.4rem;
}

h2 span {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h3 span {
    font-size: 3rem;
}

h2, h3 {
    font-family: Lato, sans-serif;
    color: #000000;
    line-height: 2.4rem;
}

h2 span, h3 span {
    color: #e028a8;
    font-family: Italianno, sans-serif;
    display: block;
}

/* Social */

nav.socials ul {
    list-style: none;
}

nav.socials ul li {
    position: relative;
    display: inline-block;
}

nav.socials ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 0.4rem;
    content: '\f08e';
    color: #e028a8;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
}

nav.socials ul li a[href*="facebook.com"]::before {
    content: '\f230';
}

nav.socials ul li a[href*="twitter.com"]::before {
    content: '\f081';
}

nav.socials ul li a[href*="youtube.com"]::before {
    content: '\f166';
}

nav.socials ul li a[href*="whatsapp.com"]::before {
    content: '\f232';
}

nav.socials ul li a[href*="github.com"]::before {
    content: '\f09b';
}

nav.socials ul li a[href*="gitlab.com"]::before {
    content: '\f296';
}

/* Navigation */

section.navigation {
    background-color: #8ed3cc;
}

section.navigation nav.main-nav {
    background-image: url('../images/border_horizontal.png'), url('../images/border_horizontal.png');
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
}

section.navigation nav.main-nav ul li.nav-item {
    transition: background-color 0.3s ease;
    border-radius: 0.625rem;
}

section.navigation nav.main-nav ul li.nav-item:hover {
    background-color: #39a69b;
}

section.navigation nav.main-nav ul li.nav-item a.nav-link {
    font-size: 1.4rem;
    color: #ffffff;
    font-family: Raleway, sans-serif;
}

/* Carousel */

section.container div#main-slider.carousel .carousel-inner .carousel-item .carousel-caption h3 {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

/* New Website */

section#new-website.container p {
    font-size: 1.6rem;
    color: #979797;
    font-family: Lato, sans-serif;
}

/* Image Links */

section.container#image-links .image-links img.img-fluid {
    border: 6px solid #ffffff;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    transition: transform 0.3s;
}

section.container#image-links .image-links img.img-fluid:hover {
    -moz-transform: scale(1.2) rotate(7deg);
    -ms-transform: scale(1.2) rotate(7deg);
    -o-transform: scale(1.2) rotate(7deg);
    transform: scale(1.2) rotate(7deg);
}

section.container#image-links .image-links .image-info {
    background-color: #ffffff;
    margin-top: -50px;
}

section.container#image-links .image-links .image-info a.btn.btn-success {
    background-color: #e028a8;
    border: none;
    border-radius: 0;
    padding: 1rem 0;
}

section.container#image-links .image-links .image-info a.btn.btn-success:hover {
    background-color: #ca5b88;
}

/* Business Hours */

section.business-hours {
    background-color: #8ed3cc;
    color: #ffffff;
}

section.business-hours h2 {
    color: #ffffff;
}

section.business-hours div.bg-hours {
    background-image: url('../images/bg_hours.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

section.business-hours table.table {
    border: 2px solid #e028a8;
}

section.business-hours table.table tbody tr td {
    padding: 0.35rem;
}

section.business-hours table.table td, section.business-hours table.table thead th {
    border: none;
}

section.business-hours table.table .table-danger, section.business-hours table.table.table-hover .table-danger:hover {
    background-color: #e028a8;
}

/* Products */

section.products div.row div.col-6 div.card {
    border: none;
    border-radius: 0;
}

section.products div.row div.col-6 div.card h3 {
    font-size: 1.3rem;
    color: #e028a8;
}

section.products div.row div.col-6 div.card p {
    font-size: 0.8rem;
}

section.products div.row div.col-6 div.card p.price {
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    color: #979797;
}

section.products div.row div.col-6 div.card a {
    color: #000000;
    text-decoration: none;
}

/* Appointment */

section.appointment {
    background-image: url('../images/bg_appointment.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

section.appointment div.row h3 {
    font-size: 3.5rem;
    color: #ffffff;
    line-height: 4rem;
}

section.appointment div.row p {
    line-height: 2.6rem;
}

section.appointment div.row a.btn.btn-primary {
    background-color: #8ed3cc;
    border: none;
    border-radius: 0;
    padding: 1rem 5rem;
    font-family: Lato, sans-serif;
}

section.appointment div.row a.btn.btn-primary:hover {
    background-color: #68beb5;
}

/* Footer */

footer#footer.site-footer p.copyright {
    font-family: Lato, sans-serif;
    color: #979797;
}

@media (min-width: 992px) {
    section.appointment {
        background-size: cover;
    }
}